mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      a(href="index.html").header__logo
        img(src="img/svg/logo.svg", width="191", height="42", alt="Logo")
      p.header__text Поисковая система по&nbsp;всей недвижимости в&nbsp;России
